doctype html
html
  head
    title= `${title} | Chinterest`
    link(rel='stylesheet' href='/dist/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    block header
      .container
        nav.navbar
          .navbar-brand
            .navbar-item
              img(src='img/logo.png' width='112' height='28')
            .navbar-burger.burger(data-target='navMenu')
              span
              span
              span
          #navMenu.navbar-menu
            .navbar-start
              a.navbar-item(href='/') All
              if user
                a.navbar-item(href='/myposts') My Chins
                a#addPostToggle.navbar-item Add Chin
                  #addPostModal.modal
                    .modal-background
                    .modal-content
                      .box
                        .column 
                          h1.title.has-text-centered Add Chin
                          form.form(action='/newpost' method='POST')
                            .field
                              label.label(for='url') Image URL
                              p.control
                                input.input(name='url' required)
                            .field
                              label.label(for='description') Description
                              p.control
                                textarea.textarea(name='description' required)
                            .field
                              p.control
                                button.button.is-primary Submit
                    button.modal-close.is-large
            .navbar-end
              if user
                .navbar-item
                  p.control
                    a.button(href='/logout') Logout
              else
                .navbar-item
                  p.control
                    a.button(href='/auth/twitter') Login with   
                      i.fa.fa-twitter
      
    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[categories]
            .notification(class=`${category}`)
              p.flash-text!= message
              button.delete(onClick='this.parentElement.remove()')
    
    #wrapper.content
      block content
    
    footer.footer
      .container
        .content.has-text-centered
          p Chinterest by 
            a(href='https://hadaclay.com') @hadaclay
          p
            a(href='https://github.com/hadaclay/chinterest')
              i.fa.fa-github.fa-2x
          
    block scripts
      script(src='/dist/App.bundle.js')
